</body>
<footer>
    <div class="contentContainer">
        <div class="first">
            <h3>Get started</h3>
            <ul>
                <li>Home</li>
                <li>Sign up</li>
                <li>Downloads</li>
            </ul>
        </div>
        <div class="first">
            <h3>About us</h3>
            <ul>
                <li>Company</li>
                <li>Blog</li>
                <li>Contact us</li>
            </ul>
        </div>
        <div class="first">
            <h3>Support</h3>
            <ul>
                <li>FAQ</li>
                <li>Help desk</li>
                <li>Forums</li>
            </ul>
        </div>
        <div class="first">
            <h3>Legal</h3>
            <ul>
                <li>Terms of service</li>
                <li>Terms of use</li>
                <li>Privacy policy</li>
            </ul>
        </div>
    </div>
    <div class="socialContainer">
        <i class="fab fa-facebook-f " style="font-size:20px;"></i>
        <i class="fab fa-instagram " style="font-size:20px;"></i>
        <i class="fab fa-twitter " style="font-size:20px;"></i>
    </div>
    <p>
        Copyright RecipeApp@2020
    </p>
</footer>

</html>