<%-include("./partials/header.ejs")%>

    <div class="jumbotron showRecipes">
        <h1 class="display-4">No recipes to show!</h1>
        <p class="lead">Add your grandma's delicious recipe secrets! We won't tell anyone.</p>
    </div>
    <div class="addBtn">
        <a href="/addRecipe" role="button" class="btn btn-primary btn-lg"> Add new Recipes</a>
    </div>